// Place all the styles related to the storys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	color:#191970;
	background-color:#b0c4de;
	ul{
		float: right;
		li{
			float:left;
			padding-left: 40px;
		}
	}
}
